.header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  background-color: #f6e9e9;

  &__title {
    font-size: 36px;
    font-weight: 600;
    color: #151D48;
  }

  &__form-container {
    display: flex;
    gap: 42px;
  }

  &__custom-input {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      margin: auto 0;
      width: 25px;
      height: 25px;
      background: url('/src/assets/svg/magnifier.svg') no-repeat;
      background-size: cover;
    }

    input {
      width: 513px;
      height: 60px;
      border-radius: 16px;
      padding: 0 50px;
      border: none;
    }
  }

  input::placeholder {
    font-size: 18px;
    color: #737791;
  }

  &__language {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__user-information {
    display: flex;
    gap: 22px;
    align-items: center;
    height: 50px;

    &-icon {
      height: 48px;
    }

    &-avatar {
      height: 60px;
    }

    &-dropdown {
      display: flex;
      gap: 60px;
    }
  }
}
