<div class="header">

  <h1 class="header__title">Dashboard</h1>

  <div class="header__form-container">
    <form class="header__form">
      <div class="header__custom-input">
        <input
          class="header__search-input"
          placeholder="Search here..."
          name="Search"
          type="text">
      </div>
    </form>

    <section class="header__language">
      <img class="header__language-icon"
           src="./assets/svg/United.svg"
           alt="язык">
      <div class="header__select-language-text">Eng (US)</div>
      <img class="header__language-icon-arrow"
           src="./assets/svg/chevron-down.svg"
           alt="стрелка">
    </section>

    <section class="header__user-information">
      <img class="header__user-information-icon"
           src="./assets/svg/notifications-icon.svg"
           alt="уведомления">
      <img class="header__user-information-avatar"
           src="./assets/svg/rectangle.jpg"
           alt="аватар">

      <div class="header__user-information-container">
        <div class="header__user-information-dropdown">
          <span class="user-information__name">Mustafa</span>
          <img class="header__language-icon-arrow"
               src="./assets/svg/Shape.svg"
               alt="arrow"
               style="width: 10px">
        </div>
        <span class="header__user-information-status">Admin</span>
      </div>

    </section>

  </div>
</div>
