
<div>
  Lorem ipsum dolor sit amet, consectetur
  adipisicing elit. Cum dolorum ipsa labore minus,
  perferendis provident ut voluptas. Doloribus, eum, quos.
</div>

<div>
  Lorem ipsum dolor sit amet, consectetur
  adipisicing elit. Cum dolorum ipsa labore minus,
  perferendis provident ut voluptas. Doloribus, eum, quos.
</div>
<hr>

<div>
  <svg id="rect" width="100" height="100"></svg>
</div>



<div id="circle"></div>



