.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: navajowhite;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__title{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }

  &__logo{
    display: flex;
  }

  &__text{
    align-self: center;
    font-size: 30px;
    padding-left: 20px;
  }

  &__button {
    width: 250px;
    display: flex;
    flex-direction: row;
    background-color: #5D5FEF;
    border-radius: 16px;
    padding: 16px 24px;
  }

  &__pic1{
    justify-content: flex-start;
    align-self: center;
  }

  &__text1{
    align-self: center;
    font-size: 18px;
    padding-left: 24px;
    color: #F9FAFB;
  }
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 100px;

  &__lines{

  }
}


