<div class="side-bar" >
  <div class="header">
    <div class="header__title">
      <div class="header__logo">
        <img class="header__pic" src="assets/svg/dashboard/dummy.svg" alt="логотип">
        <span class="header__text">Dabang</span>
      </div>
    </div>
    <div class="header__button">
      <img class="header__pic1" src="assets/svg/dashboard/graph1.svg" alt="логотип">
      <span class="header__text1">Dashboard</span>
    </div>
  </div>
  <div class="menu">
    <div class="menu__button">
      <div class="menu__lines" *ngFor="let item of items">
        <img [src]="'assets/svg/dashboard/' + item.name + '.svg'" alt="иконки">
        <span>{{item.name}}</span>
      </div>
    </div>
  </div>
</div>
